<%- model_class = ToolboxTalk -%>
<div class="page-header">
  <h1><%=t '.title', :default => ToolboxTalk %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:invoice_date) %></th>
      <th><%= model_class.human_attribute_name(:attendees) %></th>
      <th><%= model_class.human_attribute_name(:topics) %></th>
      <th><%= model_class.human_attribute_name(:comments) %></th>
      <th><%= model_class.human_attribute_name(:inspections) %></th>
      <th><%= model_class.human_attribute_name(:inspection_comments) %></th>
      <th><%= model_class.human_attribute_name(:confirm) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @toolbox_talks.each do |toolbox_talk| %>
      <tr>
        <td><%= toolbox_talk.id %></td>
        <td><%= toolbox_talk.invoice_date %></td>
        <td><%= toolbox_talk.attendees %></td>
        <td><%= toolbox_talk.topics %></td>
        <td><%= toolbox_talk.comments %></td>
        <td><%= toolbox_talk.inspections %></td>
        <td><%= toolbox_talk.inspection_comments %></td>
        <td><%= toolbox_talk.confirm %></td>
        <td><%=l toolbox_talk.created_at, format: :long %></td>
        <td>
          <%= link_to toolbox_talk_path(toolbox_talk), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to toolbox_talk_path(toolbox_talk), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_toolbox_talk_path,
            :class => 'btn btn-primary' %>
